 /* NAVBAR */
nav {
    background-color: #f68922;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(5px, 3vw, 15px) clamp(10px, 3vw, 50px); 
    height: 60px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}


.nav-bar {
    display: flex;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    padding-left: clamp(1px, 3vw, 15px);
}

.nav-bar a:hover{
    color: #7b3d03;
}

body {
    padding-top: 70px;
    background: url('images/connect.webp') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; 
    padding-top: 70px;
    height: 100%;
    margin: 0;

}

.heading h1 {
    padding-top: 20px;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    text-shadow: 6px 3px 6px rgba(237, 202, 95, 0.7);
}

/*Socials */
.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.socials:hover{
    transform: scale(1.05);
}

.logo {
    display: flex;
    align-items: center; 
    background-color: #f5c382; 
    padding: 30px 30px; 
    border-radius: 5px; 
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    width: 55px;  
    height: 55px;
    margin-right: 20px;  
}

.link a {
    color: white;  
    font-size: 30px; 
    text-decoration: none; 
}
